.example-spacer {
    flex: 1 1 auto;
  }
  
  img{
    height: 30px;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  span{
    padding-left: 6px;
  }