<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <h3 style="text-align: center;">School Address</h3>
              <address style="text-align: center;">
                Visit us at:<br>
                Example.com<br>
                Box 564, Disneyland<br>
                USA
              </address>
            </div>
            <div class="col-sm-6">
              <h3 style="text-align: center;">Contact</h3>
              <p style="text-align: center;">Call Us on: <br>1180 XXX XXX</p>
            </div>
            
          </div>
          
        
    </div>
</div>
