<div class="container">
  <div class="row">

    <h3>Our Mission</h3>



    <p>We at Delhi Public School, Indore, think of education as the means of developing our greatest abilities
      because in each one of us there is a private hope and dream which when fulfilled can be translated into benefit of
      everyone and become a great strength for our nation. We are focused on our mission of making quality education
      with all round personality development of our students more accessible and affordable so many more students can
      pursue their dream of excellence. It is a mission we believe, will help make the world a better place. We
      dedicated ourselves at Delhi Public School to create human capital for our country
      and endow the world with beautiful minds. We believe that when our students succeed, countries prosper and
      societies benefits.</p>


  </div>
</div>
