<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h3>Welcome to
        XYZ School</h3>
    </div>

    <div class="col-sm-10">
      <p>Our parents and staff, but particularly our fantastic students tell us that Delhi Public School is a very
        special place.</p>
      <p>After “Laying the Foundation of Excellence” in 2003,
        we continuously ensure that students enjoy school in a happy, safe and secure environment designed to fulfil
        their potential.
        Consequently, we pride ourselves on our reputation as a respectful,
        caring and dynamic school that places student welfare and progress at the heart of all that we do.</p>
    </div>

  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/lights.jpg" target="_blank">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPBExVere_QhMRvN2ydrdBAfMJB3oWEwjt5A&usqp=CAU"
              alt="Lights" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/nature.jpg" target="_blank">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ_aD-JoJeDZ1-cgLg-yYWs99Zb0-94w1xEA&usqp=CAU"
              alt="Nature" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ_aD-JoJeDZ1-cgLg-yYWs99Zb0-94w1xEA&usqp=CAU"
              alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  

</div>
